@charset "utf-8";
/* CSS Document */

body,p,h1,h2,h3,h4,h5,h6,dl,dd{margin:0; font-size:12px;/* font-family:XX; */}
ol,ul{list-style:none;padding:0;margin:0;}
a{text-decoration:none;}
img{border:none;}


#head_wrap{width:1200px;height:128px;margin: 0 auto;}
#head_link1{width:1200px;height:26px;position:relative;}
#head_link1 p{width:440px;height:26px;font-size:12px;line-height:26px;color:#797579;position:absolute;left:0px;}
#head_link1 p a{width:23px;height:26px;background:url(img/qq_bg.jpg) no-repeat;position:absolute;right:0px;}
#list1{position:absolute;right:0px;width:316px;height:26px;}
#list1 li{float:left;margin-left:20px;line-height:26px;color:#797579;font-size:12px;}
#list1 a:hover{color:#0CC;}
#list1 .butong{font-size:13px;color:#8da7cb;}

#head_link2{width:1200px;height:100px;position:relative;}
#head_link2 a{width:403px;height:79px;background:url(img/link2_a_bg.jpg) no-repeat;position:absolute;left:0px;top:0px;}
#head_link2 .search{width:334px;height:38px;position:absolute;left:540px;top:38px;}
#head_link2 .text1{width:246px;height:36px;border:1px solid #f00582;}
#head_link2 .sub1{width:80px;height:40px;background:#f00582;border:none;color:#FFF;line-height:38px;}
#head_link2 .pic1{position:absolute;right:0px;bottom:0px;} 


#nav{width:1348px;height:38px;background:#f00582;margin-top:0px;}
#nav #list2{width:720px;height:38px;margin-left:74px;}
#list2 li{width:180px;height:38px;float:left;font-size:13px;line-height:38px;text-align:center;}
#list2 a{width:180px;height:38px; display:block;color:#FFF;}
#list2 a:hover{background:#bd166f;}
#list2 .active1{background:#bd166f;}

#main{width:1348px;background:url(img/main_bg.gif) repeat-y;position:relative;padding-bottom:80px;}
#slideL{margin-left:74px;width:180px;height:300px;background:#fbeaf4;background:#fbeaf4;}
#slideL ul{
	width:180px;
	height:300px;
	background-image: url(img/slideL_bg.gif);
	background-repeat: no-repeat;
	background-position: 36px 0px;
}
#slideL li{width:180px;height:36px;}
#slideL a{width:180px;height:36px;line-height:36px;margin-top:1px; display:block; text-indent:72px;}
#slideL a:hover{background:#CCC;}
#zhong{width:722px;height:300px;position:absolute;left:254px;top:0px;}
#zhong img{width:722px;height:300px;}

#slideR{width:300px;height:300px;background:#fbeaf4;position:absolute;left:976px;top:0px;padding:0 15px;}
#slideR .shang{width:270px;height:154px;border-bottom:1px #999 solid;}
#slideR .shang h2{width:270px;height:56px;line-height:56px; text-align:center;font-size:23px;color:#a29ca0;}
#slideR .shang p{width:270px;height:23px;line-height:23px; text-align:center;font-size:18px;color:#a29ca0;}
#slideR .shang ul{width:145px;height:24px;margin-left:65px;margin-top:20px;}
#slideR .shang li{width:26px;height:24px;margin-right:3px;float:left;}
#slideR .shang a{width:26px;height:24px;float:left;}
#slideR .shang .li1{background:url(img/li1.gif) no-repeat;}
#slideR .shang  .li2{background:url(img/li2.gif) no-repeat;}
#slideR .shang  .li3{background:url(img/li3.gif) no-repeat;}
#slideR .shang  .li4{background:url(img/li4.gif) no-repeat;}
#slideR .shang  .li5{background:url(img/li5.gif) no-repeat;}
#slideR .xia{width:270px;height:145px;}
#slideR .xia a{width:270px;height:145px; display:block;background:url(img/slideR_bg.gif) no-repeat;}
#main .main_bar{width:1232px;height:45px;margin-left:74px;margin-top:15px;border:1px solid #ffd6d6;background:#fdfce7;}
#main .main_bar p{width:1232px;height:45px;line-height:45px;color:#9c9c9c; text-align:center;font-size:14px;}
#main .main_bar a{width:45px;color:#000;}
#main .jingxuan{margin-left:74px;margin-top:15px}
#main .jingxuan p{height:26px;line-height:26px;font-size:24px;color:#9c9c9c;}
#main .jingxuan span{color:#fbacc2;font-size:12px;}



#piclist1{width:1232px;height:588px;margin: 0 auto;}
#piclist1 ul{width:1232px;height:588px;}
#piclist1 li{width:583px;height:274px;border:1px #9c9c9c solid;float:left;margin-left:30px;margin-top:18px;}


#piclist2{width:1232px;height:382px;margin: 0 auto;margin-top:15px;}
#piclist2 ul{width:1232px;height:382px;}
#piclist2 li{width:286px;height:382px;border:1px #9c9c9c solid;float:left;margin-left:20px;}



#foot{width:1348px;height:192px;background:url(img/foot_bg.gif) no-repeat;position:relative;}
#foot #p1{width:954px;height:20px;color:#9ea29e;position:absolute;top:134px;left:195px;}
#p1 p{font-size:16px;line-height:20px; text-align:center;}
#p1 a{}


#foot #p2{width:230px;height:56px;position:absolute;top:72px;right:50px;}
#p2 p{font-size:20px;line-height:28px; text-align:center;color:#FFF;font-weight:bold;}


#jianyi{width:40px;height:40px;background:url(img/jianyi.gif) no-repeat;position:fixed;bottom:0px;right:5px;}
#arrow{width:34px;height:33px;background:url(img/arrow.gif) no-repeat;position:fixed;bottom:100px;right:5px;}
